body{
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: none;
  margin: 0;
  font-family: 'Futura PT', 'Open Sans', sans-serif;
}

a{
    color: inherit;
    text-decoration: none;

}
ul{
  margin: 0px;
}
button{
  color: white;
}
