

.terms{
    color: #807f7e;
    line-height: 1.6;




    .termsBody{
        display: flex;


        .left{
            flex: 2;
            padding-left: 50px;

        }

        .right{
            flex: 1;
            padding-right: 50px;

        }
    }
}